### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

In [2]:
file_name = open('test.txt', 'w')

In [3]:
file_name.write(test1)
file_name.close()

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
file_name2 = open('test.txt', 'r')

In [7]:
test2 = file_name2.readline()
test2

'This is a test of the emergency text system'

In [8]:
test1 == test2

True

### 3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [10]:
import csv

rows = [
    
        ['title', 'author', 'year'],
        ['The Weirdstone of Brisingamen','Alan Garner',1960],
        ['Perdido Street Station','China Miéville',2000],
        ['Thud!','Terry Pratchett',2005],
        ['The Spellman Files','Lisa Lutz',2007],
        ['Small Gods','Terry Pratchett',1992]
    
    ]

with open('books.csv', 'w', newline = '') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [11]:
import sqlite3

In [16]:
db = sqlite3.connect('books.db')

In [17]:
c = conn.cursor()

In [21]:
c.execute("create table books (title text, author text, year int)")

In [22]:
db.commit()

### 5. Read books.csv and insert its data into the book table.

In [23]:
import pandas as pd

In [24]:
read_books = pd.read_csv('books.csv', encoding = 'unicode_escape')

In [25]:
read_books.to_sql('books', db, if_exists = 'append', index = False)

### 6. Select and print the title column from the book table in alphabetical order.

In [26]:
c.execute("select title from books order by title asc")
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

### 7. From the book table, select and print all columns in the order of publication.

In [29]:
c.execute("select title, author, year from books order by year asc")
print(c.fetchall())

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

In [31]:
### Another Approach
c.execute("select title, author, year from books order by year")

df = pd.DataFrame(c.fetchall(), columns = ['title', 'author', 'year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [33]:
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///books.db')
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [1]:
import redis

In [2]:
dbb = redis.Redis()

In [3]:
dbb.delete('test')

0

In [4]:
dbb.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

C:\Users\Rohit\AppData\Local\Temp/ipykernel_11312/2736199999.py:1: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  dbb.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

True

In [5]:
dbb.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

### 10. Increment the count field of test and print it.

In [6]:
dbb.hincrby('test', 'count', 3)

4